<div class="container mt-3">
  <h3>Select room:</h3>
  <div class="row">
    <ul class="list-group col">
      {{#each rooms}}
      <a href="/rooms/{{code}}" class="list-group-item">{{title}} {{#if private}}<i class="fas fa-lock"></i>{{/if}}</a>
      {{/each}}
    </ul>
  </div>
</div>