<div class="room">
  <div class="container mt-3">
    <h3><a href="/">Rooms</i></a> / {{ room.title }}</h3>
    <div class="row">
      <ul id="messages" class="message-list"></ul>
    </div>
  </div>
  <div class="form-wrap">
    <div class="container">
      <form action="">
        <small class="form-text text-muted">Use <strong>count</strong> command to get a number of room members</small>
        <div class="input-group">
          <input id="m" autofocus="true" type="text" class="form-control" placeholder="Message..." aria-label="Message...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>