/*  */

.room .form-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.room form {
  padding: 20px;
}
.room .message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}
.room .message-list li {
  padding: 10px 10px;
  margin: 5px;
  border-radius: 10px;
}
.room .message-list li:nth-child(odd) {
  background: #eee;
}